<table  class="span12 table">
    <tr>
        <td class="slc0" style="padding: 0px; margin: 0px; vertical-align: top;"
            width="50%">
            <div id="" class="wp"
                style="border: none; margin: 5px 0px; padding: 5px 0px; width: 578px;">
                <table cellspacing="0" class="table" style="margin-right: 8px;">
                    <tr>
                        <td class="textColumn"
                            style="vertical-align: top; padding: 0px 10px; margin: 0px; width: 164px;">
                            <h1 style="font-size: 13px; font-weight: bold; margin: 0px; padding: 0px;">Business
                                Management</h1>
                            <ul style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 11px; margin-left: 30px;">
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Dynamics+AX"
                                            style="color: rgb(128, 0, 128);">Dynamics AX</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Dynamics+CRM"
                                            style="color: rgb(128, 0, 128);">Dynamics CRM</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Dynamics+GP"
                                            style="color: rgb(128, 0, 128);">Dynamics GP</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Dynamics+NAV"
                                            style="color: rgb(128, 0, 128);">Dynamics NAV</a></span></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="" class="wp"
                style="border: none; margin: 5px 0px; padding: 5px 0px; width: 578px;">
                <table cellspacing="0" class="LCT" style="margin-right: 8px;">
                    <tr>
                        <td class="textColumn"
                            style="vertical-align: top; padding: 0px 10px; margin: 0px; width: 157px;">
                            <h1 style="font-size: 13px; font-weight: bold; margin: 0px; padding: 0px;">Business
                                Productivity</h1>
                            <ul style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 11px; margin-left: 30px;">
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Access"
                                            style="color: rgb(128, 0, 128);">Access</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Excel"
                                            style="color: rgb(128, 0, 128);">Excel</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=InfoPath"
                                            style="color: rgb(128, 0, 128);">InfoPath</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Office+System"
                                            style="color: rgb(128, 0, 128);">Office System</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=OneNote"
                                            style="color: rgb(128, 0, 128);">OneNote</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Outlook"
                                            style="color: rgb(128, 0, 128);">Outlook</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=PowerPoint"
                                            style="color: rgb(128, 0, 128);">PowerPoint</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Project"
                                            style="color: rgb(128, 0, 128);">Project</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Visio"
                                            style="color: rgb(128, 0, 128);">Visio</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Word"
                                            style="color: rgb(128, 0, 128);">Word</a></span></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="" class="wp"
                style="border: none; margin: 5px 0px; padding: 5px 0px; width: 578px;">
                <table cellspacing="0" class="LCT" style="margin-right: 8px;">
                    <tr>
                        <td class="textColumn"
                            style="vertical-align: top; padding: 0px 10px; margin: 0px; width: 191px;">
                            <h1 style="font-size: 13px; font-weight: bold; margin: 0px; padding: 0px;">Client 
                                                    Operating System</h1>
                            <ul style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 11px; margin-left: 30px;">
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Consumer+Security"
                                            style="color: rgb(128, 0, 128);">Consumer Security</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Help"
                                            style="color: rgb(128, 0, 128);">Help</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Internet+Explorer"
                                            style="color: rgb(128, 0, 128);">Internet Explorer</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Windows+Expert-Consumer"
                                            style="color: rgb(128, 0, 128);">Windows Expert-Consumer</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Windows+Expert-IT+Pro"
                                            style="color: rgb(128, 0, 128);">Windows Expert-IT Pro</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Windows+Touch+%26+Tablet+PC"
                                            style="color: rgb(128, 0, 128);">Windows Touch &amp; Tablet PC</a></span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="" class="wp"
                style="border: none; margin: 5px 0px; padding: 5px 0px; width: 578px;">
                <table cellspacing="0" class="LCT" style="margin-right: 8px;">
                    <tr>
                        <td class="textColumn"
                            style="vertical-align: top; padding: 0px 10px; margin: 0px; width: 238px;">
                            <h1 style="font-size: 13px; font-weight: bold; margin: 0px; padding: 0px;">Communications
                                &amp; Collaboration</h1>
                            <ul style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 11px; margin-left: 30px;">
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Exchange+Server"
                                            style="color: rgb(128, 0, 128);">Exchange Server</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Lync"
                                            style="color: rgb(128, 0, 128);">Lync</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=SharePoint+Server"
                                            style="color: rgb(128, 0, 128);">SharePoint Server</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=SharePoint+Workspace"
                                            style="color: rgb(128, 0, 128);">SharePoint Workspace</a></span></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="" class="wp"
                style="border: none; margin: 5px 0px; padding: 5px 0px; width: 578px;">
                <table cellspacing="0" class="LCT" style="margin-right: 8px;">
                    <tr>
                        <td class="textColumn"
                            style="vertical-align: top; padding: 0px 10px; margin: 0px; width: 145px;">
                            <h1 style="font-size: 13px; font-weight: bold; margin: 0px; padding: 0px;">Consumer
                                Solutions</h1>
                            <ul style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 11px; margin-left: 30px;">
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Macintosh"
                                            style="color: rgb(128, 0, 128);">Macintosh</a></span></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="" class="wp"
                style="border: none; margin: 5px 0px; padding: 5px 0px; width: 578px;">
                <table cellspacing="0" class="LCT" style="margin-right: 8px;">
                    <tr>
                        <td class="textColumn"
                            style="vertical-align: top; padding: 0px 10px; margin: 0px; width: 147px;">
                            <h1 style="font-size: 13px; font-weight: bold; margin: 0px; padding: 0px;">Data &amp;
                                Storage</h1>
                            <ul style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 11px; margin-left: 30px;">
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Cluster"
                                            style="color: rgb(128, 0, 128);">Cluster</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=File+System+Storage"
                                            style="color: rgb(128, 0, 128);">File System Storage</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=SQL+Azure"
                                            style="color: rgb(128, 0, 128);">SQL Azure</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=SQL+Server"
                                            style="color: rgb(128, 0, 128);">SQL Server</a></span></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="" class="wp"
                style="border: none; margin: 5px 0px; padding: 5px 0px; width: 578px;">
                <table cellspacing="0" class="LCT" style="margin-right: 8px;">
                    <tr>
                        <td class="textColumn"
                            style="vertical-align: top; padding: 0px 10px; margin: 0px; width: 324px;">
                            <h1 style="font-size: 13px; font-weight: bold; margin: 0px; padding: 0px;">Data 
                                                    Center Management</h1>
                            <ul style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 11px; margin-left: 30px;">
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Group+Policy"
                                            style="color: rgb(128, 0, 128);">Group Policy</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Management+Infrastructure"
                                            style="color: rgb(128, 0, 128);">Management Infrastructure</a></span>
                                </li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=PowerShell"
                                            style="color: rgb(128, 0, 128);">PowerShell</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Setup+%26+Deployment"
                                            style="color: rgb(128, 0, 128);">Setup &amp; Deployment</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Software+Distribution"
                                            style="color: rgb(128, 0, 128);">Software Distribution</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=System+Center+Cloud+and+Datacenter+Management"
                                            style="color: rgb(128, 0, 128);">System Center Cloud and Datacenter 
                                                        Management</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=System+Center+Configuration+Manager"
                                            style="color: rgb(128, 0, 128);">System Center Configuration Manager</a></span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td class="slc0" style="padding: 0px; margin: 0px; vertical-align: top;">
            <div id="" class="wp"
                style="border: none; margin: 5px 0px; padding: 5px 0px; width: 579px;">
                <table cellspacing="0" class="LCT" style="margin-right: 8px;">
                    <tr>
                        <td class="textColumn"
                            style="vertical-align: top; padding: 0px 10px; margin: 0px; width: 217px;">
                            <h1 style="font-size: 13px; font-weight: bold; margin: 0px; padding: 0px;">Development
                                Platforms</h1>
                            <ul style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 11px; margin-left: 30px;">
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=ASP.NET%2fIIS"
                                            style="color: rgb(128, 0, 128);">ASP.NET/IIS</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Client+App+Dev"
                                            style="color: rgb(128, 0, 128);">Client App Dev</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Data+Platform+Development"
                                            style="color: rgb(128, 0, 128);">Data Platform Development</a></span>
                                </li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Device+Application+Development"
                                            style="color: rgb(128, 0, 128);">Device Application Development</a></span>
                                </li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Expression+Blend"
                                            style="color: rgb(128, 0, 128);">Expression Blend</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Expression+Web"
                                            style="color: rgb(128, 0, 128);">Expression Web</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Silverlight"
                                            style="color: rgb(128, 0, 128);">Silverlight</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Visual+Studio+ALM"
                                            style="color: rgb(128, 0, 128);">Visual Studio ALM</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=VSTO"
                                            style="color: rgb(128, 0, 128);">VSTO</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Windows+Azure"
                                            style="color: rgb(128, 0, 128);">Windows Azure</a></span></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="" class="wp"
                style="border: none; margin: 5px 0px; padding: 5px 0px; width: 579px;">
                <table cellspacing="0" class="LCT" style="margin-right: 8px;">
                    <tr>
                        <td class="textColumn"
                            style="vertical-align: top; padding: 0px 10px; margin: 0px; width: 142px;">
                            <h1 style="font-size: 13px; font-weight: bold; margin: 0px; padding: 0px;">Development
                                Tools</h1>
                            <ul style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 11px; margin-left: 30px;">
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Developer+Security"
                                            style="color: rgb(128, 0, 128);">Developer Security</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Visual+Basic"
                                            style="color: rgb(128, 0, 128);">Visual Basic</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Visual+C%23"
                                            style="color: rgb(128, 0, 128);">Visual C#</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Visual+C%2b%2b"
                                            style="color: rgb(128, 0, 128);">Visual C++</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Visual+F%23"
                                            style="color: rgb(128, 0, 128);">Visual F#</a></span></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="" class="wp"
                style="border: none; margin: 5px 0px; padding: 5px 0px; width: 579px;">
                <table cellspacing="0" class="LCT" style="margin-right: 8px;">
                    <tr>
                        <td class="textColumn"
                            style="vertical-align: top; padding: 0px 10px; margin: 0px; width: 301px;">
                            <h1 style="font-size: 13px; font-weight: bold; margin: 0px; padding: 0px;">Devices
                            </h1>
                            <ul style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 11px; margin-left: 30px;">
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Hardware+Interaction+Design+and+Development"
                                            style="color: rgb(128, 0, 128);">Hardware Interaction Design and Development</a></span>
                                </li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Kinect+for+Windows"
                                            style="color: rgb(128, 0, 128);">Kinect for Windows</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Windows+Embedded"
                                            style="color: rgb(128, 0, 128);">Windows Embedded</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Windows+Phone+Consumer"
                                            style="color: rgb(128, 0, 128);">Windows Phone Consumer</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Windows+Phone+Development"
                                            style="color: rgb(128, 0, 128);">Windows Phone Development</a></span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="" class="wp"
                style="border: none; margin: 5px 0px; padding: 5px 0px; width: 579px;">
                <table cellspacing="0" class="LCT" style="margin-right: 8px;">
                    <tr>
                        <td class="textColumn"
                            style="vertical-align: top; padding: 0px 10px; margin: 0px; width: 293px;">
                            <h1 style="font-size: 13px; font-weight: bold; margin: 0px; padding: 0px;">Entertainment
                            </h1>
                            <ul style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 11px; margin-left: 30px;">
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Games+for+Windows"
                                            style="color: rgb(128, 0, 128);">Games for Windows</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Windows+Entertainment+and+Connected+Home"
                                            style="color: rgb(128, 0, 128);">Windows Entertainment and Connected Home</a></span>
                                </li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Xbox"
                                            style="color: rgb(128, 0, 128);">Xbox</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=XNA%2fDirectX"
                                            style="color: rgb(128, 0, 128);">XNA/DirectX</a></span></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="" class="wp"
                style="border: none; margin: 5px 0px; padding: 5px 0px; width: 579px;">
                <table cellspacing="0" class="LCT" style="margin-right: 8px;">
                    <tr>
                        <td class="textColumn"
                            style="vertical-align: top; padding: 0px 10px; margin: 0px; width: 185px;">
                            <h1 style="font-size: 13px; font-weight: bold; margin: 0px; padding: 0px;">Identity
                                &amp; Access</h1>
                            <ul style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 11px; margin-left: 30px;">
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Directory+Services"
                                            style="color: rgb(128, 0, 128);">Directory Services</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Enterprise+Security"
                                            style="color: rgb(128, 0, 128);">Enterprise Security</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Forefront"
                                            style="color: rgb(128, 0, 128);">Forefront</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Forefront+Identity+Manager"
                                            style="color: rgb(128, 0, 128);">Forefront Identity Manager</a></span>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="" class="wp"
                style="border: none; margin: 5px 0px; padding: 5px 0px; width: 579px;">
                <table cellspacing="0" class="LCT" style="margin-right: 8px;">
                    <tr>
                        <td class="textColumn"
                            style="vertical-align: top; padding: 0px 10px; margin: 0px; width: 177px;">
                            <h1 style="font-size: 13px; font-weight: bold; margin: 0px; padding: 0px;">Online 
                                                    Services</h1>
                            <ul style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 11px; margin-left: 30px;">
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Bing+Maps+Development"
                                            style="color: rgb(128, 0, 128);">Bing Maps Development</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Office365"
                                            style="color: rgb(128, 0, 128);">Office365</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Windows+Consumer+Apps"
                                            style="color: rgb(128, 0, 128);">Windows Consumer Apps</a></span></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="" class="wp"
                style="border: none; margin: 5px 0px; padding: 5px 0px; width: 579px;">
                <table cellspacing="0" class="LCT" style="margin-right: 8px;">
                    <tr>
                        <td class="textColumn"
                            style="vertical-align: top; padding: 0px 10px; margin: 0px; width: 162px;">
                            <h1 style="font-size: 13px; font-weight: bold; margin: 0px; padding: 0px;">Server 
                                                    Solutions</h1>
                            <ul style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 11px; margin-left: 30px;">
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Microsoft+Integration"
                                            style="color: rgb(128, 0, 128);">Microsoft Integration</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Small+Business+Server"
                                            style="color: rgb(128, 0, 128);">Small Business Server</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Windows+Home+Server"
                                            style="color: rgb(128, 0, 128);">Windows Home Server</a></span></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="" class="wp"
                style="border: none; margin: 5px 0px; padding: 5px 0px; width: 579px;">
                <table cellspacing="0" class="LCT" style="margin-right: 8px;">
                    <tr>
                        <td class="textColumn"
                            style="vertical-align: top; padding: 0px 10px; margin: 0px; width: 180px;">
                            <h1 style="font-size: 13px; font-weight: bold; margin: 0px; padding: 0px;">Virtualization
                            </h1>
                            <ul style="margin-top: 0px; margin-bottom: 0px; padding: 0px; font-size: 11px; margin-left: 30px;">
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=App-V"
                                            style="color: rgb(128, 0, 128);">App-V</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Remote+Desktop+Services"
                                            style="color: rgb(128, 0, 128);">Remote Desktop Services</a></span></li>
                                <li style="padding: 0px 1px; color: rgb(170, 170, 170);">
                                    <span style="color: black; vertical-align: baseline;">
                                        <a href="https://mvp.support.microsoft.com/communities/mvp.aspx?product=1&amp;competency=Virtual+Machine"
                                            style="color: rgb(128, 0, 128);">Virtual Machine</a></span></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
</table>
